# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PrihodkoCourse.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\University\PrihodkoCourse\.idea\.idea.PrihodkoCourse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
